.loading {
    margin-top: 10rem;
    color: #a1a1a1;
    font-size: 1.2rem;
}
.profile {
    border: 0.2rem solid black;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    border-radius: 12px;
}

.profile p {
    font-size: 2rem;
    font-family: var(--font-raleway);
    font-weight: 500;
    color: #a1a1a1;
    text-align: center;
}

.side-box {
    width: 100%;
    display: grid;
}

.description {
    margin: 1rem auto;
    color: #a1a1a1;
    font-style: italic;
}

.actions {
    order: 1;
    flex: 0 1 auto;
    align-self: end;
    background-color: #4d4e4f;
    justify-self: end;
    border-radius: 12px;
}

.actions input {
  width: 40px;
  height: 40px;
  margin: 0.5rem;
  cursor: pointer;
  fill: orange;
}

.avatar{
    width: 8rem;
}

.avatar-img{
    display: inline-block;
    overflow: hidden;
    width: 100%;
    padding-bottom: 100%;
    height: 0;
    position: relative;
}
.avatar-img img{
    width:100%;
    height:100%;
    position: absolute;
    clip-path: circle(50%);
    object-fit: cover;
}

.app {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 100%;
    margin-top: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.empty {
    width: 100%;
    margin-top: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.empty h2 {
    font-size: 1.25rem;
    color: #f9d3b4;
    font-family: var(--font-raleway);
}

/*login-btn*/
.login-btn {
  margin-top: 5rem;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.login-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-btn:active {
  background-color: #eeeeee;
}
.login-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}


@media screen and (max-width: 600px) {
    .app {
        padding: 4rem 2rem;
    }
    .profile {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .app {
        padding: 4rem 1rem;
    }

    .container {
        margin-top: 2rem;
    }

    .profile {
        flex-direction: column;
    }
}
