.app {
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.empty {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: #f9d3b4;
  font-family: var(--font-raleway);
}


@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  .container {
    margin-top: 2rem;
  }
}
