const config = {
  apiKey: "abcdef",
  authDomain: "mydomain.com",
  projectId: "movieland-123456",
  storageBucket: "examplebucket.appspot.com",
  messagingSenderId: "123456",
  appId: "1:123456:web:123456"
}

export default config
